src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
    http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
    <flow name="mainFlow" doc:id="71a8e679-05d3-49cb-b21b-b1fcf38fb513">
        <flow-ref doc:name="Call queryFromSalesforceSubFlow" doc:id="9f255b67-00e5-4652-a20b-65cfea0ecea8" name="queryFromSalesforceSubFlow" />
        <flow-ref doc:name="Call businessLogicFlow" doc:id="563df043-f86e-4825-a3a2-1cd3d16f62d1" name="businessLogicFlow" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d26d970c-87c1-4b73-abea-37d912d0d281" type="ANY">
                <flow-ref doc:name="errorHandlingFlow" doc:id="fe1aea8e-7d2c-4eda-8c64-fc1dd4dfa9b7" name="errorHandlingFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
	<sub-flow name="queryFromSalesforceSubFlow" doc:id="25dbd0dd-a71f-47b3-a98f-d9469c00bb61">
        <salesforce:query doc:name="Query Orders from Salesforce" doc:id="818f6fa1-b6a6-47ff-9375-5086ff5b360a" config-ref="Salesforce_Config">
            <salesforce:salesforce-query>Select Id, OrderNumber, EffectiveDate, Status, SAP4HANA_Order_Key__c from Order WHERE LastModifiedDate &gt; :lastModifiedDate
            </salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	"lastModifiedDate" : p('watermark.default.expression')
}]]]></salesforce:parameters>
        </salesforce:query>
    </sub-flow>
	<flow name="businessLogicFlow" doc:id="9a38a51b-603a-4a5a-9928-b5d84fa080b6">
        <batch:job jobName="migrateOrdersBatchJob" doc:id="4a2589d0-7121-4f6f-aea1-6d5cc15609fc" blockSize="${page.size}">
            <batch:process-records>
                <batch:step name="getOrderItemsBatch" doc:id="d42a7f44-14e1-4a86-80f0-b787c74b6582">
                    <flow-ref doc:name="Call getOrderItemsSubFlow" doc:id="c14de13c-18a1-492a-a23a-7bf972957f5b" name="getOrderItemsSubFlow" />
                </batch:step>
                <batch:step name="checkMaterialS4HanaBatch" doc:id="a359fa4a-1cb5-46d4-a74b-ccd0e44aeadc">
					<logger level="INFO" doc:name="Get Material from S4Hana is not Implemented" doc:id="df3300b4-e886-4a40-8428-6c18a45c793f" message="Get Material from S4Hana is not Implemented" />
                </batch:step>
                <batch:step name="checkOrderInS4HanaBatch" doc:id="a66e1cc8-311b-46f6-949f-2fb7d0cdf167">
                    <flow-ref doc:name="Call checkOrderInS4HanaSubFlow" doc:id="d67b3a24-2684-46a1-830e-3526bdaf5663" name="checkOrderInS4HanaSubFlow" />
                </batch:step>
                <batch:step name="createOrderBatch" doc:id="4c453cc3-821d-4fbb-8dff-5bb04a4d93b2" acceptExpression='#[isEmpty(vars.S4HanaOrder)]'>
                    <flow-ref doc:name="Call createOrderSubFlow" doc:id="7f8405a4-044d-4717-9154-5caac24fafa6" name="createOrderSubFlow" />
                </batch:step>
                <batch:step name="updateOrderBatch" doc:id="0431d165-c033-4a7c-ab1d-e9ee9e8da932" acceptExpression='#[not isEmpty(vars.S4HanaOrder)]'>
                    <flow-ref doc:name="Call updateOrderSubFlow" doc:id="2b2add88-ffb5-463e-9b27-f4d59c7ee635" name="updateOrderSubFlow" />
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <scatter-gather doc:name="Scatter-Gather" doc:id="50bfb79c-cd29-4943-975c-20574d63476e">
                    <route>
                        <logger level="INFO" doc:name="Migration process has finished!" doc:id="6bb26256-7424-4dcd-961f-5ebb0b7b9282" message="Migration process has finished!" />
                    </route>
                    <route>
                        <ee:transform doc:name="Prepare migration result email" doc:id="dabcf741-2254-4080-bbed-68ae2800bff4">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"

 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
 ++ "\n Total Records: "			++ payload.totalRecords!
 ++ "\n Successful Records: "		++ payload.successfulRecords!
 ++ "\n Failed Records: "			++ payload.failedRecords!
 ++ "\n Loaded Records: "			++ payload.loadedRecords!
 ++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <email:send doc:name="Send migration result email" doc:id="2f534014-8780-4286-8947-26db7f33f2a3" fromAddress="${mail.from}" subject="${mail.subject}"
                            config-ref="Email_SMTP">
                            <email:to-addresses>
                                <email:to-address value="${mail.to}" />
                            </email:to-addresses>
                        </email:send>
                    </route>
                </scatter-gather>
            </batch:on-complete>
        </batch:job>
    </flow>
	<sub-flow name="getOrderItemsSubFlow" doc:id="2a6a11e2-e5cd-4177-886b-38c8c7683ce8">
        <set-variable value="#[payload]" doc:name="Set orderData variable" doc:id="d25fc6dc-f434-4cd1-b489-294266a15e3a" variableName="orderData" />
        <salesforce:query doc:name="Get order items" doc:id="a0c24175-34b6-45f8-9d08-c80a740d1c0e" config-ref="Salesforce_Config">
            <salesforce:salesforce-query>SELECT UnitPrice, Quantity, PricebookEntry.ProductCode, PricebookEntry.UnitPrice,
                PricebookEntry.Product2Id, PricebookEntry.Name, PricebookEntryId, OrderId, Id FROM OrderItem WHERE OrderId=':orderID'
            </salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	"orderID" : payload.Id
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform doc:name="Added Products to orderData variable" doc:id="b202c30e-f986-4475-9c89-042a086803f0">
            <ee:message>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="orderData"><![CDATA[%dw 2.0
output application/java
---
vars.orderData ++
{
    "to_Item": payload map {
      			"SalesOrderItemText":$.PricebookEntry.Name,
      			"Material": $.PricebookEntry.ProductCode,
      			"RequestedQuantity": $.Quantity,
      			"NetAmount": $.UnitPrice	
	    		}
}
        ]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log extended payload" doc:id="af48a71f-e56e-4197-987f-fbf62a3788fb" message="#[output apllication/json --- vars.orderData]" />
    </sub-flow>
	<sub-flow name="checkOrderInS4HanaSubFlow" doc:id="43b93961-e457-4f05-a2e5-76ea6c29858c">
        <ee:transform doc:name="Set S4Hana SalesOrder variable" doc:id="36f0b202-7e83-4b9b-a47a-ba1790215926">
            <ee:message>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="S4Hana"><![CDATA[%dw 2.0
output application/java
---
{
    //Document number must be between 0005000000 and 0005999999.
    // Maximum Order number of Salesforce is on 6 digits
    "SalesOrder": if (not isEmpty(vars.orderData.SAP4HANA_Order_Key__c)) vars.orderData.SAP4HANA_Order_Key__c else (5000000+ vars.orderData.OrderNumber) ,
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <s4hana:query service="API_SALES_ORDER_SRV" entityType="A_SalesOrder" doc:name="Query Order" doc:id="75d3324f-5e28-4970-b93a-533e32dc8525" config-ref="SAP_S_4HANA_Config"
            filter="#[&quot;SalesOrder eq '&quot; ++ vars.S4Hana.SalesOrder ++ &quot;'&quot;]" />
        <ee:transform doc:name="Set S4HanaOrder Variable" doc:id="9680298c-9c8f-4cfe-b20b-6c1cb7f70eed">
            <ee:message>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="S4HanaOrder"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
	<sub-flow name="createOrderSubFlow" doc:id="aff8b449-3c8c-468a-9d29-cdd074bc5ccd">
        <ee:transform doc:name="Mapping for S4Hana" doc:id="ee3e7317-526f-4b25-a7ad-b5a0f04b9048">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "SalesOrder": vars.S4Hana.SalesOrder as String ,
    "SalesOrderType": "OR",
    "SoldToParty": p("s4hana.soldToParty"),
    "RequestedDeliveryDate": vars.orderData.EffectiveDate as Date as String { format: "yyyy-MM-dd'T00:00:00'"} as DateTime,
	//Inserting Material
    "to_Item": vars.orderData.to_Item
}
]]></ee:set-payload>
            </ee:message>
            <ee:variables />
        </ee:transform>
		<s4hana:create-entity doc:name='Create Order in S4Hana' doc:id="ea8a5d7d-002f-4adf-adbf-861ba0e418a7" config-ref="SAP_S_4HANA_Config" service="API_SALES_ORDER_SRV"
            entityType="A_SalesOrder" />
        <ee:transform doc:name="Save S4Hana Response" doc:id="9988a66f-a1d8-415e-bbe4-5f872eab726c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Response" doc:id="f0d1069f-9fff-439d-894d-33a228971dcb" message="Created order: #[output application/json --- payload]" />
    </sub-flow>
	<sub-flow name="updateOrderSubFlow" doc:id="44f9434d-100a-4a52-8c83-5901b19debb7">
        <ee:transform doc:name="Mapping for S4Hana" doc:id="badee75b-ad01-432f-9373-301ac5bb0e80">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "SalesOrder": vars.S4Hana.SalesOrder as String ,
    "RequestedDeliveryDate": vars.orderData.EffectiveDate  as Date as String { format: "yyyy-MM-dd'T00:00:00'"} as DateTime,
	//Inserting Material
    "to_Item": vars.orderData.to_Item
}
]]></ee:set-payload>
            </ee:message>
            <ee:variables />
        </ee:transform>
		<s4hana:update-entity service="API_SALES_ORDER_SRV" entityType="A_SalesOrder" doc:name="Update Order in S4Hana" doc:id="ea897ac1-2936-4308-a1c6-486dbd207de2"
            config-ref="SAP_S_4HANA_Config">
            <s4hana:custom-headers>
                <s4hana:custom-header key="If-Match" value="*" />
            </s4hana:custom-headers>
        </s4hana:update-entity>
        <ee:transform doc:name="Save S4Hana Response" doc:id="ef572042-cd10-4649-80c5-fbd81be582b7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Response" doc:id="b636cbdf-a6ba-432c-8908-aeb8f0649b32" message="Updated order: #[output application/json --- payload]" />
    </sub-flow>
</mule>
